---
import { slugifyStr } from "@/utils/slugify";
import type { CollectionEntry } from "astro:content";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

export interface Props extends CollectionEntry<"blog"> {
  variant?: "h2" | "h3";
}

const { variant = "h2", data, id, filePath } = Astro.props;

const { title, description, pubDatetime, modDatetime, timezone } = data;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class: "text-lg font-medium decoration-dashed group-hover:underline",
};
---

<li class="group my-6 p-4 bg-background rounded-lg shadow-md transition-all duration-200 ease-in-out hover:shadow-xl">
  <a
    href={getPath(id, filePath)}
    class="block w-full h-full no-underline focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {
      variant === "h2" ? (
        <h2 {...headerProps}>{title}</h2>
      ) : (
        <h3 {...headerProps}>{title}</h3>
      )
    }
    <Datetime {pubDatetime} {modDatetime} {timezone} />
    <p>{description}</p>
  </a>
</li>
